<div class="row justify-content-evenly">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <form action="/genero/modificar/{{genero.nro}}" method="POST">
            <div class="mb-3">
                <label for="exampleInputNro" class="form-label">Nro Genero</label>
                <input type="number" name="nro" class="form-control" id="exampleInputNro" value="{{genero.nro}}"
                    disabled>
            </div>
            <div class="mb-3">
                <label for="exampleInputGenero" class="form-label">Nombre Genero</label>
                <input type="text" name="genero" placeholder="Nombre Genero" class="form-control"
                    id="exampleInputGenero" value="{{genero.nombre}}">
            </div>
            <button type="submit" class="btn btn-primary">Modificar</button>
        </form>
    </div>
</div>